<p id="notice"><%= notice %></p>

<p>
  <strong>Renter name:</strong>
  <%= @renter.renter_name %>
</p>

<p>
  <strong>Renter email:</strong>
  <%= @renter.renter_email %>
</p>

<p>
  <strong>Renter password:</strong>
  <%= @renter.renter_password %>
</p>

<%= link_to 'Edit', edit_renter_path(@renter) %> |
<%= link_to 'Back', renters_path %>
