<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iRentex</title>

</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">iRentex</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>-->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
          <h2 class="head1" >Want to Rent? </h2><p class="p1">Discover what you can rent via irentex.</p>        
 		  <p class="p2">New user? <%= link_to "Sign up now!", new_user_path %> has account? <%= link_to "Sign in", login_path %></p>
           
        </header>

        <hr>

        <!-- FilterItems -->
		
		
		
		
		<%= form_for :searchItems, url: searchItems_path(:iid) do |f| %>
  
			<% count =0 
               @filters.each do |i| %>
		    
			
			
         
         
		  <%= f.label  i.nameOfLabel  
		 var = i.nameOfLabel %><br>
		 
		 <% if i.typeOfLabel == "text" %>       
                   <input type="text" name ="<%=i.nameOfLabel%>" >       
	                     <% else %>
                        <input type="text" name ="F<%=i.nameOfLabel%>" >
						<input type="text" name ="T<%=i.nameOfLabel%>"" >
 	                     <% end %>
		 
		  
		   
		   </br>
             <% count = count+ 1
                  end %>
           
  <p>
    <%= f.submit :Search%>
  </p>
<% end %>
		
		
		
		
		
		
		
		
		
		
		
		
     <!--   <div class="row">
            <div class="col-lg-12">
                 <%= form_tag(home_index_path, :method => "get", id: "search-form") do %>
				 <%= text_field_tag :search, params[:search], placeholder: "Search items" %>
			     <%= submit_tag "Search" %>
                <h3>All Items</h3>
                 
			<% end %>
            </div>
        </div>  -->
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
			<% count =0 
               @items.each do |i| %>
			
	            <div class="col-md-3 col-sm-6 hero-feature">
	                <div class="thumbnail">
	                    
	                    <div class="caption">
						
						
					
						
                            <h3><%=  i.Name  %></h3>  
	                        <p><%= i.Price %></p>
	                        
	                    </div>
	                </div>
	            </div>
	           <% count = count+ 1
                  end %>
            
        </div>
        <!-- /.row -->

		
		
		
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; irentex 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>
