<title> Edit Item</title>


<h1>Edit Item</h1>
 

<%= form_for :item, url: user_rentp_item_path(:id => params[:id], :rentp_id => params[:rentp_id], :user_id => params[:user_id]), method: :patch  do |u| %>
	<p>
	<%=	u.label :"Item Name:" %> <br> 
	<%=	u.text_field :item_name  %> 
</p>

<p>
	<%=	u.label :"Item Description:"  %> <br> 
	<%=	u.text_field :item_desc  %> 
</p>

<p>
	<%=	u.label :"Item Images:"  %> 	
</p>

<p>
	<%=	u.label :"Item Price:"  %> 	
	<%=	u.text_field :item_price  %> 
</p>

<p>
    <%=u.submit %>
<% end %>
<%= link_to 'Back', user_rentp_path(:id => params[:rentp_id]) %>