<title> Add New Item</title>


<h1>Add New Item</h1>
 
<%= form_for :item, url: user_items_path do |u| %>
	<p>
	<%=	u.label :"Item Name:" %> <br> 
	<%=	u.text_field :item_name  %> 
</p>

<p>
	<%=	u.label :"Item Description:"  %> <br> 
	<%=	u.text_field :item_desc  %> 
</p>

<p>
  <%= u.fields_for :item_attachments do |p| %>
     <div class="field">
       <%= p.label :image %><br>
       <%= p.file_field :image, :multiple => true, name: "item_attachments[image][]" %>
     </div>

   <% end %>
</p>

<p>
	<%=	u.label :"Item Price:"  %> 	
	<%=	u.text_field :item_price  %> 
</p>
<%= u.hidden_field :category_id, :value => @user.categories_id %>
<p>

<% count =0 
   @filters.each do |i| %>
	<%= f.label  i.nameOfLabel  
	  var = i.nameOfLabel %><br>
		 
		 <% if i.typeOfLabel == "text" %>       
             <input type="text" name ="<%=i.nameOfLabel%>" >       
	        <% else %>
             <input type="text" name ="F<%=i.nameOfLabel%>" >
			 <input type="text" name ="T<%=i.nameOfLabel%>"" >
 	     <% end %>
		 </br>
         <% count = count+ 1
            end %>

    <%=u.submit %>
<% end %>
<%= link_to 'Back', user_path(:id => params[:user_id]) %>